/*=============================
Import Roboto Font
=============================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
.roboto-font{
	font-family: 'Roboto', sans-serif;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #444;
	margin: 0;
	padding: 0;
}
/*=============================
Defalt style
=============================*/
::-moz-selection {
   color: #fff;
   background: #FF6000;
}
::selection {
   color: #fff;
   background: #FF6000;
}
*, ::after, ::before {
   -webkit-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}
a, a:hover{
   color: #FF6000;
   -webkit-outline: none;
   outline: none;
   text-decoration: none;
   cursor: pointer;
}
a:focus{
   color: #FF6000;
   -webkit-outline: none;
   outline: none;
   text-decoration: none;
   cursor: pointer;
}
button, button:focus, img, img:focus, input, input:focus, textarea, 
textarea:focus, select, select:focus, option, option:focus{
   -webkit-outline: none;
   outline: none;
}
ul{
   padding: 0;
   margin: 0;
}
img{
   display: block;
   max-width: 100%;
   height: auto;
}
h1, h2, h3, h4{
   margin-bottom: 15px;
   font-style: normal;
   font-weight: 600;
   color: #554740;
   text-transform: capitalize;
}
h3{
   font-weight: 600;
   font-size: 26px;
   text-transform: capitalize;
  }
h5, h6{
   color: #554740;	
   margin-bottom: 15px;
   font-style: normal;
   font-weight: 600;
}
p{
   margin: 0;
   margin-bottom: 20px;
   line-height: 22px;
}
ul{
   margin: 0;
   padding: 0;
}
li.list-inline{
   display: inline-block;
   list-style: none;
   margin: 0;
   padding: 0;
}
.clearfix:after, .clearfix:before{
   content: " ";
   display: table;
   clear: both;
}
.white-text, .white-text h1, .white-text h2, .white-text h3, .white-text h4, 
.white-text h5, .white-text h6, .white-text p, .white-text a{
   color: #fff;
}
.userselect-none{
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}
.section-title-wrap {
   text-align: center;
   margin-bottom: 50px;
}
.section-title {
   color: #031b4e;
   font-size: 38px;
   font-weight: 500;
   text-align: center;
   margin: 0;
   text-transform: capitalize;
   line-height: 50px;
   word-wrap: break-word;
}
.section-subtitle {
   font-size: 20px;
   color: #758095;
   margin: 0;
   line-height: 24px;
   margin-top: 14px;
}
/*=============================
Default Grid(Column)
=============================*/
.row {
   max-width: none;
   margin-right: auto;
   margin-left: auto;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-flow: row wrap;
   -ms-flex-flow: row wrap;
   flex-flow: row wrap
}
.row .row {
   margin-right: 0;
   margin-left: 0
}
.row .row.collapse {
   margin-right: 0;
   margin-left: 0
}
.row.expanded {
   max-width: none
}
.row.expanded .row {
   margin-right: auto;
   margin-left: auto
}
.row:not(.expanded) .row {
   max-width: none
}
.row.collapse>.column,
.row.collapse>.columns {
   padding-right: 0;
   padding-left: 0
}
.row.is-collapse-child,
.row.collapse>.column>.row,
.row.collapse>.columns>.row {
   margin-right: 0;
   margin-left: 0
}
.column,
.columns {
   -webkit-flex: 1 1 0px;
   -ms-flex: 1 1 0px;
   flex: 1 1 0px;
   padding-right: 0;
   padding-left: 0;
   min-width: initial
}
.column.row.row,
.row.row.columns {
   float: none;
   display: block
}
.row .column.row.row,
.row .row.row.columns {
   margin-right: 0;
   margin-left: 0;
   padding-right: 0;
   padding-left: 0
}
.flex-container {
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex
}
.flex-child-auto {
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto
}
.flex-child-grow {
   -webkit-flex: 1 0 auto;
   -ms-flex: 1 0 auto;
   flex: 1 0 auto
}
.flex-child-shrink {
   -webkit-flex: 0 1 auto;
   -ms-flex: 0 1 auto;
   flex: 0 1 auto
}
.flex-dir-row {
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row
}
.flex-dir-row-reverse {
   -webkit-flex-direction: row-reverse;
   -ms-flex-direction: row-reverse;
   flex-direction: row-reverse
}
.flex-dir-column {
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column
}
.flex-dir-column-reverse {
   -webkit-flex-direction: column-reverse;
   -ms-flex-direction: column-reverse;
   flex-direction: column-reverse
}

/*-----------------------------------*/

.small-1 {
   -webkit-flex: 0 0 8.33333%;
   -ms-flex: 0 0 8.33333%;
   flex: 0 0 8.33333%;
   max-width: 8.33333%;
}
.small-2 {
   -webkit-flex: 0 0 16.66667%;
   -ms-flex: 0 0 16.66667%;
   flex: 0 0 16.66667%;
   max-width: 16.66667%;
}
.small-3 {
   -webkit-flex: 0 0 25%;
   -ms-flex: 0 0 25%;
   flex: 0 0 25%;
   max-width: 25%;
}
.small-4 {
   -webkit-flex: 0 0 33.33333%;
   -ms-flex: 0 0 33.33333%;
   flex: 0 0 33.33333%;
   max-width: 33.33333%;
}
.small-6 {
   -webkit-flex: 0 0 50%;
   -ms-flex: 0 0 50%;
   flex: 0 0 50%;
   max-width: 50%;
}
.small-7 {
   -webkit-flex: 0 0 58.33333%;
   -ms-flex: 0 0 58.33333%;
   flex: 0 0 58.33333%;
   max-width: 58.33333%;
}
.small-8 {
   -webkit-flex: 0 0 66.66667%;
   -ms-flex: 0 0 66.66667%;
   flex: 0 0 66.66667%;
   max-width: 66.66667%;
}
.small-9 {
   -webkit-flex: 0 0 75%;
   -ms-flex: 0 0 75%;
   flex: 0 0 75%;
   max-width: 75%;
}
.small-10 {
   -webkit-flex: 0 0 83.33333%;
   -ms-flex: 0 0 83.33333%;
   flex: 0 0 83.33333%;
   max-width: 83.33333%;
}
.small-11 {
   -webkit-flex: 0 0 91.66667%;
   -ms-flex: 0 0 91.66667%;
   flex: 0 0 91.66667%;
   max-width: 91.66667%;
}
.small-12 {
   -webkit-flex: 0 0 100%;
   -ms-flex: 0 0 100%;
   flex: 0 0 100%;
   max-width: 100%;
}
.small-12 {
   -webkit-flex: 0 0 100%;
   -ms-flex: 0 0 100%;
   flex: 0 0 100%;
   max-width: 100%;
}
.small-order-1 {
   -webkit-order: 1;
   -ms-flex-order: 1;
   order: 1
}
.small-order-2 {
   -webkit-order: 2;
   -ms-flex-order: 2;
   order: 2
}
.small-order-3 {
   -webkit-order: 3;
   -ms-flex-order: 3;
   order: 3
}
.small-order-4 {
   -webkit-order: 4;
   -ms-flex-order: 4;
   order: 4
}
.small-order-5 {
   -webkit-order: 5;
   -ms-flex-order: 5;
   order: 5
}
.small-order-6 {
   -webkit-order: 6;
   -ms-flex-order: 6;
   order: 6
}

/*------------------------*/

@media print, screen and (min-width: 40em){
   .medium-1 {
      -webkit-flex: 0 0 8.33333%;
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
   }
   .medium-2 {
      -webkit-flex: 0 0 16.66667%;
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
   }
   .medium-3 {
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
   }
   .medium-4 {
      -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
   }
   .medium-5 {
      -webkit-flex: 0 0 41.66667%;
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
   }
   .medium-6 {
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
   }
   .medium-8 {
      -webkit-flex: 0 0 66.66667%;
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
   }
   .medium-9 {
      -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
   }
   .medium-10 {
      -webkit-flex: 0 0 83.33333%;
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
   }
   .medium-11 {
      -webkit-flex: 0 0 91.66667%;
      -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
   }
   .medium-12 {
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
   }
}
@media print, screen and (min-width: 64em) {
   .large-1 {
      -webkit-flex: 0 0 8.33333%;
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
      max-width: 8.33333%
   }
   .large-2 {
      -webkit-flex: 0 0 16.66667%;
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%
   }
   .large-3 {
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%
   }
   .large-4 {
      -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%
   }
   .large-5 {
      -webkit-flex: 0 0 41.66667%;
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%
   }
   .large-6 {
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%
   }
   .large-7 {
      -webkit-flex: 0 0 58.33333%;
      -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%
   }
   .large-8 {
      -webkit-flex: 0 0 66.66667%;
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%
   }
   .large-9 {
      -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%
   }
   .large-10 {
      -webkit-flex: 0 0 83.33333%;
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
      max-width: 83.33333%
   }
   .large-11 {
      -webkit-flex: 0 0 91.66667%;
      -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
      max-width: 91.66667%
   }
   .large-12 {
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%
   }
   .large-order-1 {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1
   }
   .large-order-2 {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2
   }
   .large-order-3 {
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3
   }
   .large-order-4 {
      -webkit-order: 4;
      -ms-flex-order: 4;
      order: 4
   }
   .large-order-5 {
      -webkit-order: 5;
      -ms-flex-order: 5;
      order: 5
   }
   .large-order-6 {
      -webkit-order: 6;
      -ms-flex-order: 6;
      order: 6
   }
}
.shrink {
   -webkit-flex: 0 0 auto;
   -ms-flex: 0 0 auto;
   flex: 0 0 auto;
   max-width: 100%
}
.column-block {
   margin-bottom: 0
}
.column-block>:last-child {
   margin-bottom: 0
}
.row-pd{
   margin-left: -15px; 
   margin-right: -15px; 
}
.column-pd{
   padding-right: 15px;
   padding-left: 15px;
}
/*--------------------*/
.text-center{
   text-align: center;
}
.text-right{
   text-align: right;
}
.container {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}
/*@media (min-width: 576px){
    .container {
      max-width: 540px;
   }
}*/
@media (min-width: 768px){
   .container{
      max-width: 720px;
   }
}
@media (min-width: 992px){
   .container{
      max-width: 960px;
   }
}
@media  (min-width: 1200px){
   .container {
      max-width: 1140px;
   }
}

@media print, screen and (min-width: 1024px) and (max-width: 1200px){
   .footer-form input{
      max-width: 284px;
   }
}
@media print, screen and (max-width: 1200px){
   .sectionTwo-img {
      height: auto!important;
   }
   .footer-form{
      width: 100%!important;
   }

}

@media print, screen and (max-width: 1023px){

   .sectionTwo-left-img{
     order: 1;
   }
   .sectionTwo-left-content{
      order: 2;
   }
   .SectionTwo .row1, .SectionTwo .row2{
      margin-bottom: 0px!important;
   }

   .sectionOne-img, .sectionTwo-img, .pv-box-img img {
      height: auto!important;
      max-height: auto!important; 
      min-height: auto!important; 
   }
   .footer-form{
      padding-top: 15px!important;
      padding-bottom: 15px!important;
   }
   .SectionFive-des{
      margin: 0px!important;
   }
   .footer-form input{
      margin-top: 0px!important;
   }
   .fcontect-wrp{
      padding-left: 30px;
   }
}

@media print, screen and (min-width:850px) and (max-width: 1023px){
   .pv-box-inner .pv-box-wrap {
       padding: 10px 20px!important;
   }
}
@media print, screen and (max-width: 849px){
   .pv-box-inner .pv-box-wrap {
          padding: 0px!important;
   }
   .pv-box-inner .pv-box-wrap:hover {
       background: transparent!important;
   }
   .pv-box-desktop-img{
      display: none; 
   }
   .pv-box-responsive-img{
      display: block!important;
      margin: 30px 0px;
   }
   .pv-right-box, .pv-left-box{
      width: 100%!important;
   }
   .pv-box-inner .pv-box-wrap{
      max-width: 100%!important;
   }
   .partner-vorteile-section{
      padding-left: 15px;
      padding-right: 15px; 
   }
   .pv-box-inner{
      padding: 0px!important;
   }
}
   

@media print, screen and (min-width: 640px) and (max-width: 991px){

   .it-box-section .itb-inner{
      padding-left: 70px;
   }
   .footer-form .footer-email{
      max-width: 250px;
   }   
   .it-box-section .itb-inner{
      padding-left: 70px;
      padding-right: 20px;
   }

}

@media print, screen and (max-width: 639px){

   .SectionOne .img-text{
      top: 24%;
   }
   .SectionOne{
      padding-left: 10px;
      padding-right: 10px;
   }
   .SectionOne-right-box{
      display: none;
   }
   .SectionTwo{
      padding-bottom: 70px;
   }
   .it-box-section .itb-inner{
      padding-left: 70px;
      padding-right: 20px;
   }
   .SectionTwo .row{
      padding: 20px!important; 
      border-radius: 10px;
   }
   .itb-heading-title{
      text-align: center;
   }
   .footer-form .footer-email{
      max-width: 250px;
   }
   .SectionFive-des{
      margin-bottom: 0px!important;
   }
   .footer-email-btn{
      padding-left: 10px!important;
      padding-right: 10px!important;
   }
   .section-title, .section-subtitle{
      text-align: left;
      padding-left: 15px;
   }
   .it-box-section .section-title {
      text-align: center;
      padding-left: 0;
   }
   .sectionTwo-img{
      height: auto!important;
   }
   .partner-vorteile-section {
      padding-top: 50px!important;
   }
   .partner-vorteile-section .section-subtitle{
      margin-bottom: 0px!important;
   }
   .footer-form .footer-email-btn{
      margin-top: 10px!important;
   }
   .partner-vorteile-section .section-title-wrap{
      padding: 0px 15px;
   }
}


/*=============================
End style
=============================*/