/*==================================
Footer
===========================*/

.SectionFive{
  padding-top: 95px;
  padding-bottom: 72px;
  background-color: #55BE90;
  color: #fff;
}
.SectionFive-title{
	color: #fff;
	font-size: 26px;
	line-height: 28px;
	margin-bottom: 25px; 
}
.SectionFive-des{
	max-width: 500px;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 35px;
}
.sectionfive-contact{
	margin:0px;
	font-size: 20px;
}
.sectionfive-phone{
	margin-bottom: 10px;
}
.sectionfive-contact img{
	display: inline-block;
	max-width: 15px;
	margin-right: 15px;
}
.footer-form{
	padding-top: 10px;
}
.footer-form input{
	height: 54px;
	font-size: 20px;
	padding: 10px 25px;
	color: #55BE90;
	margin-top: 10px;
}
.footer-email{
	margin-right: 10px;
}
.footer-email-btn{
 	background: #fff;
 	border: 0px;
 	cursor: pointer;
}
.footer-email-btn:hover{
	opacity: 0.9;
}
.Sectionsix{
	background: 
}
.footer-btm{
	width: 100%;
	min-height: 400px;
	background: #000;
}