

/*=============================
Index style
=============================*/
.pv-box-inner .pv-box-wrap {
   padding: 22px 28px;
   background: transparent;
   border-radius: 5px;
   margin-bottom: 7px;
   -webkit-transition: all 03s ease-in-out;
   -ms-transition: all 03s ease-in-out;
   transition: all 0.3s ease-in-out;
   cursor: pointer;
}
.pv-box-inner .pv-box-wrap:hover{
   background: #fff;
}
.pv-box-inner .pv-box-wrap:last-child{
   margin-bottom: 0;
}
.partner-vorteile-section{
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: #F6F9FC;
   position: relative;
}

.pv-box-title {
    font-size: 22px;
    font-weight: 500;
    color: #011969;
    margin-bottom: 0;
    margin-top: 0px;
}
.pv-box-des{
   margin-top: 8px;
   margin-bottom: 0;
}
.pv-box-inner {
    padding-left: 20px;
}
.pv-box-img{
   margin-bottom: 20px;
}
.pv-box-img img {
    max-height: 380px;
    margin: 0 auto;
}
.pv-box-responsive-img{
  display: none;
}
.partner-vorteile-btn-img{
  position: absolute;
  bottom: 0;
  right: 0;
}
.partner-vorteile-section .section-subtitle{
  margin-bottom: 70px;
}
/*=============================
End style
=============================*/

